In [9]:
import pandas as pd

#데이터 프레임
data = {'이름': ['Alice', 'Bob', 'Charlie'], '나이': [25, 30, 22], '성별': ['여', '남', '남']}
df = pd.DataFrame(data, index=['A', 'B', 'C'])  # 행 인덱스를 지정

print(df)

        이름  나이 성별
A    Alice  25  여
B      Bob  30  남
C  Charlie  22  남

In [25]:
# 행만 선택
first_row = df.iloc[0]
print(first_row)

이름    Alice
나이       25
성별        여
Name: A, dtype: object

In [27]:
# 열만 선택
second_colum = df.iloc[:, 0]
print(second_colum)

A      Alice
B        Bob
C    Charlie
Name: 이름, dtype: object

In [29]:
subset = df.iloc[0:1]
print(subset)

      이름  나이 성별
A  Alice  25  여

In [11]:
name_column = df.loc[:, '이름']
print(name_column)

first_row = df.loc['A']
print(first_row)

selected_rows = df.loc[df['나이'] >= 25]
print(selected_rows)

A      Alice
B        Bob
C    Charlie
Name: 이름, dtype: object
이름    Alice
나이       25
성별        여
Name: A, dtype: object
      이름  나이 성별
A  Alice  25  여
B    Bob  30  남