In [3]:
print("Hello python")

Hello python

In [1]:
num1 = 10
num2 = -20
print(num1, num2)

10 -20

In [3]:
text = "TEST"
print(text[2])
print(text[-2])
print(text[:2])
print(text[::1])
print(text[::2])

S
S
TE
TEST
TS

In [ ]:
text = "BASEBALL"
print(text.lower())
print(text.find('L'))

baseball
6

In [ ]:
text = " PYTHON IS AWESOME "
print(text.lstrip())
print(text.strip())
print(text.split())
text2 = 'A'.join(text)
#공백에 문자 JOIN
print(text2)

PYTHON IS AWESOME
PYTHON IS AWESOME
['PYTHON', 'IS', 'AWESOME']
 APAYATAHAOANA AIASA AAAWAEASAOAMAEA

In [15]:
name = "minbang"
age = "27"
print(f"my name is \n{name} and \\{age} years \told")

my name is
minbang and \27 years 	old

In [30]:
adress = "https://www.python.org/downloads/windows/"
print(adress[::2])

hts/wwpto.r/onod/idw/

In [34]:
authorized = True
unauthorized = False
if authorized or unauthorized:
    print("접근 허용")
else:
    print("접근 불가")

접근 허용

In [ ]:
numbers = [4, 1, 5, 8, 0, 2]
numbers.append(3)
numbers.sort()
#기본 : 작은 수부터
print(numbers)

pop_item = numbers.pop(3)
print(numbers)
print(pop_item)

count = numbers.count(5)
#5라는 값이 몇번 들어갔는지 카운트.
print(count)

new_numbers = numbers.copy()
print(new_numbers)

numbers.extend([1, 7, 9])
#변수 필요없이 리스트 확장하기
print(numbers)

another_list = [10, 11, 12]
combined_list = numbers + another_list 
print(combined_list)

[0, 1, 2, 3, 4, 5, 8]
[0, 1, 2, 4, 5, 8]
3
1
[0, 1, 2, 4, 5, 8]
[0, 1, 2, 4, 5, 8, 1, 7, 9]
[0, 1, 2, 4, 5, 8, 1, 7, 9, 10, 11, 12]

In [62]:
my_tuple = (1, 2, 3, 4, 5)
#my_tuple[0] = 10 
print(my_tuple)
print(my_tuple.index(5))
#5의 인덱스는 몇번인가??
print(my_tuple[2])
#2번째 인덱스는 무슨값인가??

(1, 2, 3, 4, 5)
4
3

In [ ]:
List = [6, 7, 8, 9, 10]
print(List)
List[0] = 55
print(List)

[6, 7, 8, 9, 10]
[55, 7, 8, 9, 10]

In [75]:
DICT = {"Angles" : "Trout", "Mets" : "Lindor", "SF" : "Jung hoo lee", "Yankees" : "Rodon"}
print(DICT["Angles"])
#키값을 표시해야 함
DICT["Yankees"] = "Freed"
print(DICT["Yankees"])
print(DICT.get("Angles"))
print(DICT.keys())
print(DICT.values())

Trout
Freed
Trout
dict_keys(['Angles', 'Mets', 'SF', 'Yankees'])
dict_values(['Trout', 'Lindor', 'Jung hoo lee', 'Freed'])

In [90]:
grade = int(input("숫자를 입력해주세요"))
if 100 >= grade >= 90:
   print("A학점")
elif 80 <= grade < 90:
    print("B학점")
elif 70 <= grade < 80:
    print("C학점")
elif 60 <= grade < 70:
    print("D학점")    
elif 0 < grade < 60:
    print("F학점") 
else:
    print("잘못된 점수입니다")

A학점

In [ ]:



while True:
    num1 = input("숫자를 입력해주세요")
    if num1 == "q":
        break
 
    op = input("연산자를 입력해주세요")
    if op == "q":
        break
    
    num2 = input("숫자를 입력해주세요")
    if num2 == "q":
        break
    
    if op == "+":
        print(int(num1) + int(num2))
    if op == "-":
        print(int(num1) - int(num2))
    if op == "*":
        print(int(num1) * int(num2))
    if op == "/":
    
        if int(num2) == 0 or int(num1) == 0:
            print("0으로 나눌 수 없습니다")  
             
        else:   
            print(int(num1) / int(num2))
        
            
    else:
        print("잘못된 연산자입니다")

0으로 나눌 수 없습니다

In [ ]:
numbers = [1, 2, 3, 4, 5]
#반복문
for num in numbers:
    print(num * 2)

2
4
6
8
10